#home-aboutUs {
  background-image: url(http://cutuananh.devmaster.vn/images/AnhCatTC/ve-chung-toi/bg-about-us.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding-bottom: 3.2rem;
  color: white;
}
.container-mx-10 {
  margin-left: 10%;
  margin-right: 10%;
}
#home-aboutUs:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.6);
}
.home-aboutUs__content {
  text-align: center;
  position: relative;
}
.aboutUs-policy__item {
  background-color: #fff;
  height: 7.5rem;
  margin-bottom: 2rem;
}
.home-aboutUs__content h4 {
  color: white;
}
.aboutUs-policy__item .img {
  display: flex;
  align-items: center;
  padding: 0 0 0 2rem;
}
#home-aboutUs img {
  width: 100%;
  height: auto;
}
.aboutUs-policy__item .content {
  padding: 1.5rem;
}
.aboutUs-policy__item img {
  width: 4.3rem !important;
}
.aboutUs-policy__item .content .title {
  color: #bd945f;
  margin: 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 700;
}
.aboutUs-policy__item .content .desc {
  font-size: 1rem;
  color: #000;
  margin: 0;
}
#home-aboutUs .list-img .box {
  overflow: hidden;
}
.see-more a {
  color: white;
  font-size: 1.3rem;
}

#home-aboutUs .list-img .box .see-more {
  background: rgba(0, 0, 0, 0.4);
  height: 100%;
  position: absolute;
  bottom: -100%;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  display: flex;
  align-items: center;
  transition: all 0.2s linear;
  justify-content: center;
}
#home-aboutUs .list-img .box:hover .see-more {
  bottom: 0;
  transition-delay: 0.2s;
  cursor: pointer;
}
.home-aboutUs__content p:first-child {
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: left;
}
.home-aboutUs__content p:first-child span {
  font-size: 1.7rem;
  font-weight: 900;
}
.home-aboutUs__content span {
  font-size: 1.5rem;
}
.home-aboutUs__content p {
  text-align: justify;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  margin-top: 0;
  font-weight: 600;
  margin-bottom: 1rem;
}
