#footer {
  background: #363636;
  margin-top: 9rem;
  display: flex;
}
.allInfo a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.allInfo {
  display: flex;
  justify-content: space-between;
  padding: 3.5rem 0;
}
.allInfo .info h5 {
  color: #fff;
  text-transform: uppercase;
  position: relative;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.allInfo .info > p {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 1.5rem;
}
.allInfo .list-footer li:first-child {
  color: #fff;
  text-transform: uppercase;
  font-size: 1.6rem;
}
.allInfo ul li {
  color: #d6d6d6;
  font-size: 1rem;
  list-style: none;
  display: flex;
  margin-top: 0.8rem;
  font-weight: 500;
}
.allInfo .list-footer li .icon {
  width: 1.5rem;
  text-align: center;
  margin-right: 0.8rem;
}
.allInfo .info > img {
  height: 4rem;
  margin-top: 2rem;
}
.allInfo .info .social a {
  margin-right: 0.75rem;
}
.allInfo .info .social img {
  height: 2.5rem;
}
#footer .social {
  margin-top: 1.5rem;
}
.allInfo .info .social a:hover i,
.allInfo .info .social a:hover img {
  transition: all 0.1s linear;
  cursor: pointer;
  box-shadow: -0.5rem 0.5rem 0 #808080;
  transform: translateY(-0.5rem);
}
.allInfo ul li:hover {
  transition: all 0.3s linear;
  cursor: pointer;
  transform: translateX(1rem);
}
