* {
  font-family: Gotham-Medium, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
  font-size: 16px;
}
ol,
ul {
  padding-left: 0;
}
a {
  text-decoration: none;
}
.container-ct {
  padding-left: 10%;
  padding-right: 10%;
}
.underlined::after {
  margin-top: 0.35rem;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 30%;
  border-top: 0.35rem solid #fff;
}
.wrap-color-fff {
  background-color: #fff;
}

/* custom slick */
.custom-arrow {
  color: black;
  font-size: 30px;
  outline: none;
  max-height: 100%;
  background-color: inherit;
}
.slick-slider {
  display: flex;
}
